{% extends 'base.html' %}
{% load static %}

{% block contents %}

<style>
    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

    .search_text {
        color: #565656;
    }
</style>

<div style="position: relative; top: -1.5rem; opacity: 1;">
    <form class="form-inline my-2 my-lg-0" action="{% url 'searchapp:search' %}" method="get">
        {% csrf_token %}
        <nav class="navbar navbar-expand-sm bg-light">
            <input name="q" style="height: 30px" class="form-control mr-sm-2" type="text" placeholder="Search"> &nbsp&nbsp
            <button style="width: 45px" class="btn btn-success btn-sm active" type="submit">검색</button>
        </nav>
    </form>
</div>

<div>
    <p class="text-center search_text"> 검색어 : "<font size=4rem color="red">{{ query }}</font>" 로  검색한  결과입니다. </p>
</div>

<hr style="margin: 1.5rem;">

{% if articles %}
<div class="container">
    {% for article in articles %}
    <a href="{% url 'articleapp:detail' pk=article.pk %}">
        {% include 'snippets/card.html' with article=article %}
    </a>
    {% endfor %}
    <p style="height: 22rem;"></p>
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
<div style="text-align:center;">
    <p style="height: 8rem;"></p>
    <h4>No Articles YET!</h4>
    <p style="height: 10rem;"></p>
</div>
{% endif %}

<hr style="margin: 1.5rem;">

{%  if user.is_authenticated %}
<div style="text-align:center; margin: 2rem;">
    <a href="{% url 'articleapp:create' %}" style="color: white; text-decoration: none;">
        <button style="background-color: #778899; color: white" class="btn btn-light btn-sm rounded-pill mt-3 px-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
              <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
            </svg>
            Create Article
        </button>
    </a>
    <p style="height: 26rem;"></p>
</div>
{% endif %}

{% endblock %}