asgiref==3.8.1
beautifulsoup4==4.13.3
Django==5.1.7
django-bootstrap4==25.1
django-environ==0.12.0
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
PyYAML==6.0.2
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.0
mysqlclient==2.2.3
pymysql==1.1.1
cryptography==44.0.2