<div style="border: 1px dotted; width: 100%; max-height: 50%; text-align: left; padding: 1% 1% 2% 2%; margin: 1rem 0;
    border-radius: 1rem; border-color: #bbb;">
    <div>
        <span style="font-size: .9rem; color: #050505">
            {% if comment.writer.profile %}
            <img src="{{ comment.writer.profile.image.url }}" alt="" style="height: 1.7rem; width: 1.7rem; border-radius: 1.7rem;">
            {% else %}
            <img src="../../media/basic.jpg" alt="" style="height: 1.7rem; width: 1.7rem; border-radius: 1.7rem;">
            {% endif %}
            &nbsp
            {{ comment.writer.profile.nickname }}
        </span>
        &nbsp&nbsp&nbsp
        <span style="font-size: .8rem; color: #385185">
            {{ comment.created_at }}
        </span>
    </div>
    <div style="font-size: 15px; color: #565656; margin: .3rem 0;">
        {{ comment.댓글쓰기}}
        {% if comment.writer == user %}
        <div style="font-size: .5rem; text-align: right; margin: -1.6rem auto;">
            <a href="{% url 'commentapp:delete' pk=comment.pk %}" style="font-size: .5rem; opacity: 0.3;" class="btn btn-sm btn-secondary active rounded-pill mb-3">
                삭제
            </a>
        </div>
        {% endif %}
    </div>
</div>