{% extends 'base.html' %}
{% load bootstrap4 %}

{% block contents %}
<div style="text-align: center; max-width: 360px; height: 60rem; margin: 1rem auto">
    <div style="font-size: 1.5rem; color: white; background-color: #b5c7ed;" class="btn btn-light btn-sm rounded-pill active px-4 mb-4">
        Article 수정
    </div>
    <div>
        <form action="{% url 'articleapp:update' pk=target_article.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p></p>
            <input type="submit" value="확인" class="btn btn-secondary btn-sm active rounded-pill col-5 mt-3 mb-3">
        </form>
    </div>
</div>
{% endblock %}